<div class="main-nav-wrapper">
			<nav id="main-nav" class="main-nav js-cloak">
				<ul id="menu">
	
					<li  {% if '/profile' in app.request.uri %} class="active" {% endif %}>
						<a href="{{ path('dashboard_profile_save') }}">
							<i class="pe-7s-user pe-3x pe-va pe-fw"></i>
							<span class="nav-label">Profile</span>
						</a>
					</li>
					
					<li  {% if '/contact' in app.request.uri %} class="active" {% endif %}>
						<a href="{{ path('dashboard_contact_list') }}">
							<i class="pe-7s-users pe-3x pe-va pe-fw"></i>
							<span class="nav-label">Contacts</span>
						</a>
					</li>
					
					<li  {% if '/service' in app.request.uri %} class="active" {% endif %}>
						<a href="{{ path('dashboard_service_list') }}">
							<i class="pe-7s-science pe-3x pe-va pe-fw"></i>
							<span class="nav-label">Services</span>
						</a>
					</li>
						
					<li  {% if '/capsule' in app.request.uri %} class="active" {% endif %}>
						<a href="{{ path('dashboard_capsule_list') }}">
							<i class="pe-7s-film pe-3x pe-va pe-fw"></i>
							<span class="nav-label">Capsules</span>
						</a>
					</li>
						
					
					{% if is_granted('ROLE_ADMIN') %}	
					
					<li role="presentation" class="divider ">
					</li>
					
					<li {% if '/admin/email' in app.request.uri %} class="active" {% endif %}>
						<a href="{{ path('admin_email_list') }}">
							<span class="nav-label">Admin Emails</span>
						</a>
					</li>
					<li {% if '/admin/user' in app.request.uri %} class="active" {% endif %}>
						<a href="{{ path('admin_user_list') }}">
							<span class="nav-label">Admin Users</span>
						</a>
					</li>
					<li {% if '/admin/question' in app.request.uri %} class="active" {% endif %}>
						<a href="{{ path('admin_question_list') }}">
							<span class="nav-label">Admin Q&A</span>
						</a>
					</li>
	
					
					{% endif %}
			
				</ul>
			</nav>
		</div>	