
{% extends "::dashboardLayout.html.twig" %}

{% set title = "Q&A" %}

{% block body %}

<a href="{{ path('admin_question_save')  }}" class="btn btn-lg btn-primary pull-right">
	<i class="fa fa-plus" aria-hidden="true"></i>
	Add
</a>

<table class="table table-stripedNoNo table-hover table-condensedNo">

	<thead>
		<tr>
			<th>
				Question
			</th>
			<th>
				Réponse
			</th>
			<th>
			
			</th>
			<th>
			
			</th>
		</tr>
	</thead>
	
	<tbody>
		{% for question in listQuestions %}
		<tr>
			<td>
				{{ question.title|raw }}
			</td>
			<td>
				{{ question.answer|raw }}
			</td>
			<td>
				<a href="{{ path('admin_question_save', {'id': question.id})  }}" class="btn btn-info">
					<i class="fa fa-pencil" aria-hidden="true"></i>
					Modify
				</a>
				
				
			</td>
			<td>
				<a onclick="confirmFunction($(this).attr('href')); return false;" href="{{ path('admin_question_delete', {'id': question.id})  }}" class="btn btn-inverse">
					<i class="fa fa-remove" aria-hidden="true"></i>
					Delete
				</a>
				
			</td>
		</tr>
		{% endfor %}
	</tbody>

</table>


{% endblock %}
