
{% extends "::dashboardLayout.html.twig" %}

{% set title = "Q&A" %}
{% if question.id is not empty %}
	{% set title = title~" - Modify" %}
{% else %}
	{% set title = title~" - Add" %}
{% endif %}

{% block body %}


{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
  		
<div class="row">

	<div class="col-sm-offset-3 col-sm-6">
	
		{{ form_row(form.title) }}		
	
	</div>

</div>

<br />

		
<div class="row">

	<div class="col-sm-offset-3 col-sm-6">
	
		{{ form_row(form.answer) }}		
	
	</div>

</div>


		
<div class="row">

	<div class="col-sm-offset-3 col-sm-6">
	
		  		
		{{ form_errors(form) }}
		
		{{ form_rest(form) }} 
		
		<br /><br />
		
		<button type="submit" onclick="avoidMultiClicks($(this));" class="btn btn-block btn-success btn-lg" data-loading-text="Loading...">
			Valider
		</button>

	</div>
</div>
		  
{{ form_end(form) }}

 <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>

<script type="text/javascript">

tinymce.init({ selector:'.tinymce', plugins: "link code", forced_root_block: false });


</script>
 
{% endblock %}