{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}


<div class="container">
    	
<div class="divLoginHeader hidden-xs">

</div>


<br />
	
<div class="row">
	<div class="col-sm-offset-4 col-sm-4">
	
		<form action="{{ path("fos_user_security_check") }}" method="post">
			    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
		
		{% if error %}
		    <div class="alert alert-danger">
		    	  <div>{{ error.messageKey|trans({}, 'FOSUserBundle') }}</div>
		    	<br />
		    	<a style="color: gray;" href="{{ path('fos_user_resetting_request') }}">Forgot your password?</a> 
		    </div>
		{% endif %}
					
   	  <div class="form-group">
	    <label class="orangeLabel">Email address</label>
	    <input class="form-control input-lg orangeField" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
	  </div>	
   	  <div class="form-group">
	    <label class="orangeLabel">Password</label> 
	    <input class="form-control input-lg orangeField" type="password" id="password" name="_password" required="required" />
	  </div>
	  
	  <div class="checkbox">
        <label>
            <input  type="checkbox" id="remember_me" name="_remember_me" value="on" checked="checked" />
            Remember me
        </label>
	</div>
			
   	
	  <button type="submit" id="_submit" name="_submit"  class="btn-block btn btn-info btn-lg">Ok</button>
	</form>
	</div>
</div>


	<br />
	
<div class="row">
	<div class="col-sm-offset-4 col-sm-4 text-center">
	
	<small>
	<a style="color: gray;" href="{{ path('fos_user_resetting_request') }}">Forgot your password?</a>
	  </small>
	  
	</div>
</div>
	
	<br />
	
<div class="row">
	<div class="col-sm-offset-4 col-sm-4 text-center">
	
	<small>
	<a  href="{{ path('fos_user_registration_register') }}">Register</a>
	  </small>
	  
	</div>
</div>
	

	<br /><br />
	

</div>

<script type="text/javascript">

window.onload = function initializeEmail() {
	email = getParameterByName("email");
	if (email != '') {
		usernameInput = document.getElementById("username")
		usernameInput.value = email;
	}
}

</script>
    
{% endblock fos_user_content %}