
{% extends "::dashboardLayout.html.twig" %}

{% set title = "Capsules" %}

{% block body %}


<style>

.divFormCheckboxes {
	padding-left: 50px;
	
}

.divFormCheckboxes input, label {
	float: left;
}
.divFormCheckboxes input {
	clear: both;
	margin-right: 5px;
}

</style>

{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
  		
{{ form_errors(form) }}
			

<div class="row">

	<div class="col-sm-4">
			
			 <div class="form-group">
			    {{ form_label(form.name) }}
			    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
			  </div>
			 
	</div>
	
	
	<div class=" col-sm-4">
			 <div class="form-group divFormCheckboxes">
			    {{ form_label(form.files) }}
			    {{ form_widget(form.files, {'attr': {'class': ''}}) }}
			  </div>
			

	</div>
	
	<div class=" col-sm-4">
			 <div class="form-group divFormCheckboxes">
			    {{ form_label(form.contacts) }}
			    {{ form_widget(form.contacts, {'attr': {'class': ''}}) }}
			  </div>
			

	</div>
	
	
	{{ form_rest(form) }}  
	
</div>

<br />


<div class="row">

	<div class="col-sm-offset-1 col-sm-9">
			
		
		<button type="submit" class="btn btn-block btn-info btn-lg" data-loading-text="Chargement...">
			Valider
		</button>
		
	</div>
	
</div>

	  {{ form_end(form) }}





{% endblock %}