
{% extends "::dashboardLayout.html.twig" %}

{% set title = "Capsules" %}

{% block body %}

<style>

	.divCapsule {
		border: 1px #dfdfdf solid;
		border-radius: 3px;
		padding: 20px;
		margin-top: 30px;
	}
	
	.divCapsule ul {
		list-style: none;
		margin-top: 30px;
	}
	
	.divCapsule li {
		height: 30px;
	}
	
	.divCapsule li .glyphicon {
		margin-right: 5px;
	}
	
	.divCapsule:hover {
		cursor: pointer;
		background-color: #fdfdfd;
	}

</style>

<div class="row">

	<div class="col-sm-12">
	
		<a href="{{ path('dashboard_capsule_edit', { 'id': 0 })  }}" class="btn btn-lg btn-primary">
			<span class="glyphicon glyphicon-plus-sign"></span>
			Add a capsule
		</a>
	
	</div>

</div>

<div class="row">

	{% for capsule in app.user.capsules %}
		<div class="col-sm-4">
			<div class="divCapsule" onclick="location.href='{{ path('dashboard_capsule_edit', { 'id': capsule.id })  }}';">
				<h3 class="text-center">
					{{ capsule.name }}
				</h3>
				<ul>
					<li>
						<span class="glyphicon glyphicon-calendar"></span>
						{{ capsule.dateCreation|date("Y-m-d") }}
					</li>
					<li>
						<span class="glyphicon glyphicon-file"></span>
						{{ capsule.files|length }}
					</li>
					<li>
						<span class="glyphicon glyphicon-user"></span>
						{{ capsule.contacts|length }}
					</li>
				</ul>
				
			</div>
		</div>
	{% endfor %}
				
				
</div>

{% endblock %}