
{% extends "::dashboardLayout.html.twig" %}

{% set title = "Contacts" %}

{% block body %}

<style>
	.divContact {
		border: 1px #dfdfdf solid;
		border-radius: 3px;
		padding: 20px;
		margin-top: 30px;
	}
	
	.divContact ul {
		list-style: none;
		margin-top: 30px;
	}
	
	.divContact li {
		height: 30px;
	}
	
	.divContact li .glyphicon {
		margin-right: 5px;
	}
	
	.divContact:hover {
		cursor: pointer;
		background-color: #fdfdfd;
	}
	
</style>

<div class="row">

	<div class="col-sm-12 text-right">
	
		<a href="{{ path('dashboard_contact_edit', { 'id': 0 })  }}" class="btn btn-lg btn-primary">
			<span class="glyphicon glyphicon-plus-sign"></span>
			Add a contact
		</a>
	
	</div>

</div>

<div class="row">

	{% for contact in app.user.contacts %}

	<div class="col-sm-4">
	
		<div class="divContact" onclick="location.href='{{ path('dashboard_contact_edit', { 'id': contact.id })  }}';">
			<h3 class="text-center">
				{{ contact.firstname }} {{ contact.lastname }}
			</h3>
			<ul>
				<li>
					<span class="glyphicon glyphicon-envelope"></span>
					{{ contact.emailAddress }}
				</li>
				<li>
					<span class="glyphicon glyphicon-earphone"></span>
					{{ contact.phoneNumber }}
				</li>
				<li>
					<span class="glyphicon glyphicon-map-marker"></span>
					{{ contact.address }}
				</li>
			</ul>
		</div>
	
	</div>
	
	{% endfor %}


</div>



{% endblock %}